.body {
  margin: 0;
}

.wrapper {
  margin: auto;
  height: 840px;
  background-color: #3030C1;
}

.header {
  padding: 50px 120px;
}

.logo {
  width: 180px;
  height: 47px;
  background: no-repeat url('img/Logo.png');
}

.content {
  padding: 85px 130px 0 120px;
  background: 85% -90% no-repeat url('img/woman.png');
  background-size: 564px 464px;
}

.content__title {
  margin: 0;
  padding-bottom: 35px;
  color: #fff;
  font: 800 45px/55px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.content__subtitle {
  margin: 0;
  padding-bottom: 8px;
  color: #FFCC33;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.content__text {
  margin: 0;
  padding-bottom: 45px;
  color: #fff;
  font: 300 20px/23px 'gilroy-light', arial, helvetica, sans-serif;

}

.content__button {
  font: 800 20px/24px 'montserrat-bold', arial, helvetica, sans-serif;
  padding: 15px 25px;
  text-decoration: none;
  color: #3030C1;
  background: #FFCC33;
}

.main {
  display: inline-block;
  justify-content: space-between;
}

.main__title {
  margin: 0;
  padding: 50px 520px 30px 520px;
  font: 800 40px/50px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.first-block {
  display: inline-block;
  margin-left: 120px;
  width: 380px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #FBFBFB;
}

.medal {
  padding: 47px 132px 20px 133px;
  background-size: 115px 115px;
}

.first-block__title {
  margin: 0;
  padding: 0 62px 25px 63px ;
  text-align: center;
  color: #3030C1;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.first-block__subtitle {
  margin: 0;
  padding: 0 74px 65px 75px;
  text-align: center;
  color: #3A3A3A;
  font: 800 20px/25px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.second-block {
  display: inline-block;
  margin-left: 20px;
  width: 380px;
  height: 400px;
  background: #FBFBFB;
}

.case {
  padding: 47px 132px 20px 133px;
  background-size: 115px 115px;
}

.second-block__title {
  margin: 0;
  padding: 0 62px 25px 63px ;
  text-align: center;
  color: #3030C1;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.second-block__subtitle {
  margin: 0;
  padding: 0 74px 65px 75px;
  text-align: center;
  color: #3A3A3A;
  font: 800 20px/25px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.third-block {
  display: inline-block;
  margin-left: 20px;
  width: 380px;
  height: 400px;
  background: #FBFBFB;
}

.money {
  padding: 47px 132px 20px 133px;
  background-size: 115px 115px;
}

.third-block__title {
  margin: 0;
  padding: 0 62px 25px 63px ;
  text-align: center;
  color: #3030C1;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.third-block__subtitle {
  margin: 0;
  /* padding: 0 74px 65px 75px; */
  text-align: center;
  color: #3A3A3A;
  font: 800 20px/25px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.main__caption {
  margin: 0;
  padding: 55px 510px 30px 510px;
  font: 800 40px/49px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

p.main__desc {
  padding: 55px 220px 30px 200px;
  font: 300 30px/35px 'gilroy-light', arial, helvetica, sans-serif;
  text-align: center;
}

.apply {
  background-color: #F0FBFF;
  height: 590px;
}

.apply__title {
  margin: 0;
  padding: 73px 200px 50px 330px;
  font: 800 40px/50px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.name {
  border: none;
  display: block;
  margin: 0 530px 30px 530px;
  padding-left: 28px;
  width: 380px;
  height: 80px;
  font: 300 20px/23px 'gilroy-light', arial, helvetica, sans-serif;
  color: #878787;
  background-color: #fff;

}

.mail {
  display: block;
  border: none;
  margin: 0 530px 75px 530px;
  padding-left: 28px;
  width: 380px;
  height: 80px;
  font: 300 20px/23px 'gilroy-light', arial, helvetica, sans-serif;
  color: #878787;
  background-color: #fff;
}

.apply__button {
  font: 800 20px/24px 'montserrat-bold', arial, helvetica, sans-serif;
  padding: 30px 80px;
  margin: 0 530px 73px 530px ;
  text-decoration: none;
  color: black;
  background: #FFCC33;
}

.footer {
  background-color: #00008B;
  height: 120px;
}

.footer__text {
  padding: 51px 0 51px 130px ;
  font: 400 15px/18px 'roboto-regular', arial, helvetica, sans-serif;
  color: #fff;
}







